@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(217, 54%, 11%);
    font-family: 'Outfit', sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    margin: 0 auto;
}

.container {
    max-width: 375px;
    margin: 0 auto;
}

.wrap {
    margin: 2rem 1rem;
    padding: 1.1rem;
    background-color: hsl(216, 50%, 16%);
    border-radius: 1rem;
    box-shadow: 
                0 2.1rem .9rem 2rem hsl(217, 54%, 11%),
                0 3rem 3rem 2rem hsl(216, 50%, 16%);
}

.img {
    border-radius: .7rem;
    overflow: hidden;
    position: relative;
}

.img img{
    width: 100%;
    display: block;
}

.img-over img{
    position: absolute;
    width: 3rem;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.img-over {
   position: absolute;
   left: 0;
   top: 0;
   height: 100%;
   width: 100%;
   background-color: hsla(178, 100%, 50%, 0.5);
   display: none;
}

.img:hover .img-over {
    display: block;
    cursor: pointer;
}

.description {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
    border-bottom: 1px solid hsl(215, 32%, 27%);
}

.description h1 a{
    color: hsl(0, 0%, 100%);
    text-decoration: none;
    font-weight: 600;
    font-size: 1.5rem;
   
}

.description h1 a:hover{
    cursor: pointer;
    color:  hsl(178, 100%, 50%);
}

.description p {
    color: hsl(215, 51%, 70%);
    font-weight: 300;
    margin-top: 1rem;
}

.price-time {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1.5rem 0;
}

.price-time .eth {
    display: flex;
    align-items: center;
    color: hsl(178, 100%, 50%);
    font-weight: 600;
    font-size: 1rem;    
}

.price-time .time {
    display: flex;
    align-items: center;
    color: hsl(215, 51%, 70%);
    font-weight: 300;
    font-size: .9rem;
}

.eth img {
    margin-right: .5rem;
}

.time img {
    margin-right: .3rem;
}

.avatar {
    display: flex;
    align-items: center;
}
.avatar img {
    max-width: 10%;
    border: 1px solid hsl(0, 0%, 100%);
    border-radius: 50%;
}

.avatar p {
    color: hsl(215, 51%, 70%);
    margin-left: .5rem;
    font-weight: 300;
    font-size: 1rem;
}
.avatar p a{
    color: hsl(0, 0%, 100%);
    font-weight: 400;
    text-decoration: none;
}

.avatar p a:hover {
    color: hsl(178, 100%, 50%);
}